:root {
    background-color: #fdfbf7;

    --pink-gradient: radial-gradient(#f9bbba, #f5b0b0);
    --blue-gradient: radial-gradient(#4baca8, #34a09b);
    --yellow-gradient: radial-gradient(#e7ba00, #f7d508);

    --link-color: rgb(0, 225, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

/* NAVBAR */

.navbar {
    width: 100%;
    display: table;
    padding-bottom: 15px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 20px;
    position: relative;
}

nav a:hover {
    color: var(--link-color);
}

/* NAVBAR LEFT */

.nav-left a{
    color: black;
    font-weight: 700;
}

.nav-left {
    float: left;
}

/* NAVBAR RIGHT */

.nav-right {
    float: right;
    margin-right: 10px;
}

.nav-right a {
    text-decoration: none;
    transition: all ease-in-out 400ms;
    color: black;
    font-weight: 700;
}

#get-started-btn a {
    background-color: black;
    padding: 15px;
    border-radius: 50px/50px;
    color: #fdfbf7;
    font-weight: 700;
}

#get-started-btn a:hover {
    background-color: var(--link-color);
}

/* BURGER MENU (HIDDEN/ MOBILE) */

.small-menu {
    float: right;
    margin-top: 7.5px;
    margin-right: 10px;
}

.small-menu a {
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
}

.small-menu a:hover {
    color: rgb(0, 225, 255);
}

/* HOME */

.home-heading {
    font-weight: 700;
}

.home-heading::before {
    content: 'Find Talented Photographers';
}

.home-heading::after {
    content: 'and Awesome Pics';
}

/* HOME - FEATURED */

.featured {
    padding: 10%;
    height: 120vh;
    padding-top: 0;
}


.featured-box {
    border-radius: 25px/25px;
    padding: 10px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
}

.featured-images {
    display: grid;
    grid-template-areas: 
    "left right-top right-top"
    "left right-bottom see-all"
    ". . ."
    ". . .";
    height: 80%;
    gap: 20px;
}

.left {
    grid-area: left;
    background: var(--pink-gradient);
}

.right-top {
    grid-area: right-top;
    background: var(--blue-gradient);
}

.right-bottom {
    grid-area: right-bottom;
    background: var(--yellow-gradient);
}

.see-all {
    grid-area: see-all;
    position: relative;
    background-color: #f1ece1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.see-all:hover {
    color: black;
    cursor: pointer;
    background: radial-gradient(#dfdfdf, #f1ece1);
}

.left img {
    height: 350px;
    width: 350px;
}

.right-top img, .right-bottom img {
    height: 150px;
    width: 150px;
}