html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #fdfbf7;
}

header, header a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.container {
    width: 100%;
    height: 120px;
    margin: 15px auto;
}

.nav-left {
    width: auto;
    float: left;
    font-weight: 800;
}

#nav-title {
    text-decoration: underline;
}

nav {
    width: auto;
    float: right;
}

.container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 20px;
    position: relative;
}

.container a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease-in-out 400ms;
}

nav a:hover {
    color: rgb(0, 225, 255);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: linear-gradient(to left, #fcc3c4, #fdfbf7);
    position: absolute;
    top: 0;
    width: 0%;
    border-radius: 0px 5px 5px 0px;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#get-started-btn a {
    background-color: black;
    padding: 15px;
    border-radius: 50px/50px;
    color: #fdfbf7;
    font-weight: 100;
    content: none;
}

#get-started-btn a::before {
    content: none;
}

#get-started-btn a:hover {
    color:rgb(0, 225, 255);
}

#featured {
    width: 80%;
    margin-left: 10%;
    background-color: blue;
    height: 300px;
    border-radius: 20px/20px;
}

#featured-left {
    border-radius: 20px/20px;
    height: 100%;
    width: 58%;
    background-color: rgb(0, 225, 255);
    float: left;
}

#featured-right {
    float: right;
    border-radius: 20px/20px;
    height: 100%;
    width: 40%;
    background-color:rgb(72, 255, 0);
    display: inline;
    justify-content: space-between;
}

#featured-right-top {
    border-radius: 20px/20px;
    width: 100%;
    height: 55%;
    background: purple;
}

#featured-right-bottom {
    height: 40%;
    background-color: seagreen;
    border-radius: 20px/20px;
}