body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfbf7;
    padding: 0;
    margin: 0;
}

/* NavBar */

.navbar {
    width: 100%;
    display: table;
    padding-bottom: 15px;
}

@media screen and (max-width: 900px) {
    .navbar {
        background-color: rgb(106, 106, 250);
    }

    .nav-right {
        display: none;
    }

    .small-menu {
        display: block;
    }
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 20px;
    position: relative;
}


nav a:hover {
    color: rgb(0, 225, 255);
}

/* NavBar Left */

.nav-left a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.nav-left {
    float: left;
}

.nav-left a {
    font-weight: 900;
    text-decoration: underline;
}

.nav-search a {
    text-decoration: none;
}

.nav-search a:hover {
    font-size: 15px;
}

/* NavBar Right */

.nav-right {
    width: auto;
    float: right;
    margin-right: 10px;
}

.nav-right a {
    text-decoration: none;
    transition: all ease-in-out 400ms;
    color: black;
    font-weight: 700;
}

.nav-right a::before {
    content: '';
    display: block;
    height: 5px;
    background: linear-gradient(to left, #fcc3c4, #fdfbf7);
    position: absolute;
    top: 0;
    width: 0%;
    border-radius: 0px 5px 5px 0px;
    transition: all ease-in-out 250ms;
}

.nav-right a:hover::before {
    width: 100%;
}

#get-started-btn a {
    background-color: black;
    padding: 15px;
    border-radius: 50px/50px;
    color: #fdfbf7;
    font-weight: 100;
    content: none;
}

#get-started-btn a::before {
    content: none;
}

#get-started-btn a:hover {
    background-color:rgb(0, 225, 255);
}

/* Small Menu */

.small-menu {
    float: right;
    margin-top: 7.5px;
    margin-right: 10px;
}

.small-menu a {
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    font-weight: 700;
}

.small-menu a:hover {
    color: rgb(0, 225, 255);
}

/* Home */

.home-heading {
    font-weight: 700;
}

.home-heading::before {
    content: 'Find Talented Photographers';
}

.home-heading::after {
    content: 'and Awesome Pics';
}

/* Featured */

.featured {
    padding: 10%;
    height: 120vh;
    padding-top: 0;
}

.featured-images {
    display: grid;
    height: 80%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.featured-box {
    border-radius: 25px/25px;
    background-color: rgb(0, 225, 255);
    color: black;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    grid-row: span 2;
    grid-column: span 4;
    background: linear-gradient(to right, #f9bbba, #f5b0b0);
}

.right-top {
    grid-row: span 1;
    grid-column: span 3;
    background: radial-gradient(#65cac7, #34a09b);
}

.right-bottom {
    grid-row: span 1;
    grid-column: span 2;
    background: linear-gradient(to right, #e7ba00, #f7d508)
}

.see-all {
    grid-row: span 1;
    grid-column: span 1;
    background-color: #f1ece1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px/25px;
    text-decoration: none;
    color: black;
}

.see-all:hover {
    color: black;
    cursor: pointer;
    background: radial-gradient(#f1ece1, #bdbdbd);
}

.left img {
    height: 350px;
    width: 350px;
}

.right-top img, .right-bottom img {
    height: 150px;
    width: 150px;
}

@media screen and (max-width: 900px) {
    .home-heading {
        text-align: center;
    }

    .featured-images {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }

    .left {
        grid-row: span 1;
        grid-column: span 1;
        background: linear-gradient(to right, #f9bbba, #f5b0b0);
    }
    
    .right-top {
        grid-row: span 1;
        grid-column: span 1;
        background: radial-gradient(#65cac7, #34a09b);
    }
    
    .right-bottom {
        grid-row: span 1;
        grid-column: span 1;
        background: linear-gradient(to right, #e7ba00, #f7d508)
    }
    
    .see-all {
        grid-row: span 1;
        grid-column: span 1;
        background-color: #f1ece1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px/25px;
        text-decoration: none;
        color: black;
    }

    .left img {
        height: 150px;
        width: 150px;
    }
}